pylint
pytest
fastapi
click
black
pytest-cov
uvicorn
atomicwrites
attrs
certifi
chardet
click
colorama
h11
idna
iniconfig
mangum
packaging
pluggy
py
pydantic
pyparsing
requests
starlette
toml
typing-extensions
urlib3

